# DATABASE
# This is the URL to whatever postgres DB you want to use, but if left default connects to one in docker compose
DATABASE_URL="postgresql://superman:peanutbutter@localhost:5432/trackables"

# AUTH
# you must setup clerk publishable key in clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_..."
# find secret key in clerk project
CLERK_SECRET_KEY="sk_test_...."
# create webhook in clerk at https://<domain>/api/clerk/webhook with events:
# user.created, user.deleted, user.updated
CLERK_WEBHOOK_SIGNING_SECRET="whsec_..."

# security contact for basic seo info
SECURITY_CONTACT_EMAIL="<your email>"

# CLOUDFLARED_TOKEN="...cloudflare connector token, if using domain"
