DATABASE_URL="postgresql://<user>:<password>@localhost:5432/trackable"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_..."
CLERK_SECRET_KEY="sk_test_...."
CLERK_WEBHOOK_SIGNING_SECRET="whsec_..."
SECURITY_CONTACT_EMAIL="...security email contact"

# CLOUDFLARED_TOKEN="...cloudflare connector token, if using domain"